# Main dependencies
pandas
joblib
dask
dask-jobqueue
ligo.skymap>= 2.4.0
python-ligo-lw
igwn-ligolw
memory-profiler


# Doc/test dependencies (optional)
ipykernel
nbsphinx
jupyter-sphinx
sphinx-thebe
sphinx
sphinx-astropy[confv2]
sphinxcontrib-bibtex
sphinxcontrib-typer
sphinx-automodapi
sphinx-book-theme
myst-nb
sphinx-design
sphinx-gallery
numpydoc
graphviz
