# Main dependencies
astropy>=7.1.0
m4opt
astropy
pandas
joblib
dask
dask-jobqueue
python-ligo-lw
igwn-ligolw
memory-profiler


# Doc/test dependencies (optional)
ipykernel
nbsphinx
jupyter-sphinx
sphinx-thebe
sphinx
sphinx-astropy[confv2]
sphinxcontrib-bibtex
sphinxcontrib-typer
sphinx-automodapi
sphinx-design
sphinx-gallery
numpydoc
graphviz
